.top-buffer { margin-top: 20px; }
.bottom-buffer { margin-bottom: 20px; }
.glyphicon-pencil:hover { cursor: pointer; }
.glyphicon-remove:hover { cursor: pointer;}
.tax-ratio-container { display: inline-block; float: left; }
.tax-ratio { float: left; display: inline-block; margin-left: 10px; }
.chart h2 { border-bottom: 1px solid #999; color: #999; }
.tag { color: #3E6D8E; background-color: #E0EAF1; border-bottom: 1px solid #3E6D8E; border-right: 1px solid #7F9FB6; padding: 3px 4px 3px 4px; margin: 2px 2px 2px 0; text-decoration: none; font-size: 90%; line-height: 2.4; white-space: nowrap; }
.tag:hover a:link { background-color: #3E6D8E; color: #E0EAF1; }
.tag:hover a:visited { background-color: #3E6D8E; color: #E0EAF1; }
.tag:hover a:active { background-color: #3E6D8E; color: #E0EAF1; }
.tag a:link { text-decoration: none; color: #3E6D8E; }
.tag a:visited { text-decoration: none; color: #3E6D8E; }
.tag a:active { text-decoration: none; color: #3E6D8E; }
.tag:hover { background-color: #3E6D8E; color: #E0EAF1; border-bottom: 1px solid #37607D; border-right: 1px solid #37607D; text-decoration: none; }
.delete-tag { margin-top: 7px; margin-left: 2px; vertical-align:top; width: 16px; height: 14px; display: inline-block; background-image: url('/img/delete-tag.png'); background-repeat: no-repeat; overflow: hidden; }
#tageditor { margin-left: 5px; }
.table > tbody > tr > td { vertical-align: middle !important; }
.expenses td input { width: 100%; border: none !important; box-shadow: none !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; outline: 0 !important; padding: 0 !important; margin: 4px 3px 0; background-color: transparent !important; }
.summary { font-size: 14px; line-height: 1.2;}
p.bg-info { padding: 15px;}