<html>
  <head>
   <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
  </head>
  <body>
    <div class="chart">
      <h2>{{categorywithamount}}</h2>
      <img src="http://chart.apis.google.com/chart?chxl=0:{{labels}}&chxr=0,0,12|1,0,{{maxamount}}&chxt=x,y&chbh=a&chs=520x365&cht=bvs&chco=56C65A&chds=0,{{maxamount}}&chd=t1:{{amounts}}&chg=0,-1&chtt={{category}}+sur+les+12+derniers+mois" width="520" height="365" alt="{{category}} sur les 12 derniers mois" />
    </div>
  </body>
</html>

